@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Bold.eot");
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"), url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff2") format("woff2"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Medium.eot");
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"), url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"), url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  border: none;
  -moz-appearance: textfield;
}

input[type=number]:focus {
  outline: none;
}

input[type=tel] {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=text] {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=tel]:focus {
  outline: none;
}

input[type=text]:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
}

select {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

div {
  -webkit-tap-highlight-color: transparent;
}

div:focus {
  border: none;
  outline: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

body {
  font-family: 'Gotham Pro';
  font-weight: 500;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 16px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    padding: 0px 32px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0px 32px;
    max-width: 1208px;
  }
}

@media (min-width: 1366px) {
  .container {
    padding: 0px;
    max-width: 1208px;
  }
}

h1 {
  font-family: 'Gotham Pro';
  font-weight: normal;
}

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 27px 16px 23px 16px;
  background-color: #fff;
}

.header_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_mobile a img {
  width: 90px;
}

.header_desktop {
  display: none;
}

@media (min-width: 768px) {
  .header_mobile a img {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 18px 50px;
  }
  .header_mobile {
    display: none;
  }
  .header_desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header_desktop_logo img {
    width: 90px;
  }
  .header_desktop ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_desktop ul li {
    margin-left: 20px;
  }
  .header_desktop ul li p {
    font-size: 16px;
    line-height: 15px;
    color: #2C303E;
    cursor: pointer;
  }
  .header_desktop_form {
    width: 180px;
    height: 47px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: linear-gradient(47.39deg, #1738E3 12.73%, #7117E3 102.6%);
    -webkit-box-shadow: 0px 10px 40px #CFC4EE;
            box-shadow: 0px 10px 40px #CFC4EE;
    border-radius: 6px;
  }
  .header_desktop_form span {
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
  }
}

.main {
  position: relative;
  background: #F0F1FA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 32px;
  padding-bottom: 238px;
}

.main_block_logo {
  display: none;
}

.main_block h2 {
  font-family: 'Gotham Pro';
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #000000;
  text-align: center;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 10px;
}

.main_block_back {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 86px;
  width: 502px;
  z-index: 0;
}

.main_block_image_main {
  position: absolute;
  left: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 502px;
}

@media (min-width: 768px) {
  .main {
    padding-top: 50px;
    padding-bottom: 310px;
  }
  .main_block_back {
    top: 130px;
  }
  .main_block_image_main {
    left: 45%;
    bottom: -70px;
  }
}

@media (min-width: 1200px) {
  .main {
    padding-top: 76px;
    padding-bottom: 588px;
    z-index: 2;
  }
  .main_block_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main_block h2 {
    width: 634px;
    font-size: 38px;
    line-height: 57px;
    padding: 0px;
    margin: 0 auto;
    margin-top: 44px;
  }
  .main_block_back {
    width: auto;
    top: 250px;
  }
  .main_block_image_main {
    width: auto;
    left: 47%;
    bottom: -130px;
  }
}

.can {
  background: linear-gradient(47.39deg, #1738E3 12.73%, #7117E3 102.6%), #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 109px 0px 67px 0px;
}

.can_background {
  display: none;
}

.can_block_left h2 {
  font-family: 'Gotham Pro';
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

.can_block_right_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.can_block_right_item_img {
  width: 55px;
  min-width: 55px;
  height: 55px;
  border-radius: 10px;
  position: relative;
  display: none;
}

.can_block_right_item_img img {
  position: absolute;
}

.can_block_right_item_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 20px;
}

.can_block_right_item_text h4 {
  font-family: 'Gotham Pro';
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.can_block_right_item_text p {
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
  margin-top: 5px;
}

.can_block_right_item:first-child {
  margin-top: 36px;
}

.can_block_right_item:first-child .can_block_right_item_img {
  display: block;
  background: #FFEFCA;
}

.can_block_right_item:first-child .can_block_right_item_img img {
  width: 44px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.can_block_right_item:nth-child(2) {
  margin-top: 33px;
}

.can_block_right_item:nth-child(2) .can_block_right_item_img {
  display: block;
  background: #FFD2DC;
}

.can_block_right_item:nth-child(2) .can_block_right_item_img img {
  width: 68px;
  bottom: -7px;
  left: 2px;
}

.can_block_right_item:nth-child(3) {
  margin-top: 39px;
}

.can_block_right_item:nth-child(3) .can_block_right_item_img {
  display: block;
  background: #CCE6DE;
}

.can_block_right_item:nth-child(3) .can_block_right_item_img img {
  width: 62px;
  bottom: -6px;
  left: 2px;
}

.can_block_right_item:nth-child(4) {
  margin-top: 34px;
}

.can_block_right_item:nth-child(4) .can_block_right_item_img {
  display: block;
  background: #FDF4E8;
}

.can_block_right_item:nth-child(4) .can_block_right_item_img img {
  width: 60px;
  bottom: -7px;
  left: 11px;
}

@media (min-width: 1200px) {
  .can {
    position: relative;
    padding: 227px 0px 138px 0px;
  }
  .can_background {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
  }
  .can_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .can_block_left {
    min-width: 440px;
  }
  .can_block_left h2 {
    font-size: 54px;
    line-height: 66px;
  }
  .can_block_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 81px;
  }
  .can_block_right_item {
    width: calc(50% - 30px);
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .can_block_right_item_img {
    width: 75px;
    height: 75px;
  }
  .can_block_right_item_text {
    margin-left: 0px;
    margin-top: 30px;
  }
  .can_block_right_item_text h4 {
    font-size: 20px;
    line-height: 34px;
  }
  .can_block_right_item_text p {
    font-size: 18px;
    line-height: 31px;
    margin-top: 11px;
  }
  .can_block_right_item:first-child {
    margin-top: 0px;
    margin-bottom: 32px;
  }
  .can_block_right_item:first-child .can_block_right_item_img img {
    width: 61px;
    bottom: -14px;
  }
  .can_block_right_item:nth-child(2) {
    margin-top: 0px;
    margin-bottom: 32px;
  }
  .can_block_right_item:nth-child(2) .can_block_right_item_img img {
    width: 96px;
    left: 2px;
    bottom: -9px;
  }
  .can_block_right_item:nth-child(3) {
    margin-top: 0px;
  }
  .can_block_right_item:nth-child(3) .can_block_right_item_img img {
    width: 101px;
    left: -2px;
    bottom: -15px;
  }
  .can_block_right_item:nth-child(4) {
    margin-top: 0px;
  }
  .can_block_right_item:nth-child(4) .can_block_right_item_img img {
    width: 88px;
    left: 17px;
    bottom: -16px;
  }
}

.work {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 46px 0px 76px 0px;
}

.work h2 {
  font-family: 'Gotham Pro';
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  text-align: center;
}

.work_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work_block_left {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  position: relative;
  margin-top: 315px;
  z-index: 4;
}

.work_block_left_main {
  background: linear-gradient(47.39deg, #1738E3 12.73%, #7117E3 102.6%), #C3F0E8;
  border-radius: 20px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 20px 29px 20px;
}

.work_block_left_main_number {
  background: #FFFFFF;
  border-radius: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 56px;
}

.work_block_left_main_number span {
  font-family: 'Gotham Pro';
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: #2432E3;
}

.work_block_left_main_img {
  position: relative;
  width: 272px;
  margin: 0 auto;
}

.work_block_left_main_img_mob {
  width: 100%;
}

.work_block_left_main_img_firm {
  width: 69px;
  height: 69px;
  background: #1E2232;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.work_block_left_main_img_firm.iphone {
  top: 110px;
  right: 0px;
}

.work_block_left_main_img_firm.android {
  bottom: 81px;
  left: 0px;
}

.work_block_left_main h4 {
  margin-top: 30px;
  font-family: 'Gotham Pro';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.work_block_left_main p {
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
  margin-top: 12px;
}

.work_block_left_sub_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 20px 29px 20px;
  background: #F0F1FA;
  border-radius: 20px;
  margin-top: 13px;
}

.work_block_left_sub_item_number {
  width: 73px;
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  border-radius: 11px;
}

.work_block_left_sub_item_number span {
  font-family: 'Gotham Pro';
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: #2432E3;
}

.work_block_left_sub_item h4 {
  font-family: 'Gotham Pro';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-top: 64px;
}

.work_block_left_sub_item p {
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
  margin-top: 21px;
}

.work_block_right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  width: 244px;
  margin: 0 auto;
  margin-top: 32px;
}

.work_block_right img {
  position: absolute;
}

.work_block_right_text {
  width: 185px;
  left: -4px;
  top: 15px;
}

.work_block_right_main {
  width: 306px;
  z-index: 4;
}

.work_block_right_one {
  width: 97px;
  left: -76px;
  top: 30px;
}

.work_block_right_two {
  left: -24px;
  top: -10px;
  width: 100px;
  z-index: 2;
}

@media (min-width: 1200px) {
  .work {
    padding: 164px 0px 150px 0px;
  }
  .work h2 {
    font-size: 54px;
    line-height: 66px;
    text-align: left;
  }
  .work_block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 54px;
  }
  .work_block_left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
  }
  .work_block_left_main {
    width: 440px;
    padding: 35px 35px 49px 35px;
  }
  .work_block_left_main_number {
    width: 73px;
    height: 73px;
  }
  .work_block_left_main_number span {
    font-size: 25px;
    line-height: 31px;
  }
  .work_block_left_main_img {
    width: 255px;
  }
  .work_block_left_main h4 {
    font-size: 30px;
    line-height: 37px;
  }
  .work_block_left_main p {
    font-size: 18px;
    line-height: 30px;
    margin-top: 17px;
  }
  .work_block_left_sub {
    width: 440px;
    margin-left: 20px;
  }
  .work_block_left_sub_item {
    margin-top: 0px;
    padding: 35px 35px 49px 35px;
    border-radius: 31px;
  }
  .work_block_left_sub_item:last-child {
    margin-top: 20px;
    background: rgba(240, 241, 250, 0.9);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .work_block_left_sub_item_number {
    width: 73px;
    height: 73px;
  }
  .work_block_left_sub_item_number span {
    font-size: 25px;
    line-height: 31px;
  }
  .work_block_left_sub_item h4 {
    font-size: 30px;
    line-height: 37px;
    margin-top: 81px;
  }
  .work_block_left_sub_item p {
    font-size: 18px;
    line-height: 30px;
    margin-top: 17px;
  }
  .work_block_right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .work_block_right_one {
    width: auto;
    left: -162px;
    top: -135px;
    z-index: 4;
  }
  .work_block_right_two {
    width: auto;
    left: 15px;
    top: -185px;
    z-index: 2;
  }
  .work_block_right_text {
    width: auto;
    right: -77px;
    top: -50px;
    left: auto;
  }
  .work_block_right_main {
    width: auto;
    z-index: 4;
    right: -236px;
    bottom: -62px;
  }
}

.media {
  position: relative;
}

.media_img {
  display: none;
}

.media_block h2 {
  font-family: 'Gotham Pro';
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

.media_block_list {
  display: none;
}

.media_slider {
  margin-top: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 12px;
}

.media_slider .slick-slide {
  width: 302px;
  margin-left: 13px;
}

.media_slider_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.media_slider_item_main {
  background: -webkit-gradient(linear, left top, left bottom, from(#F0F1FA), to(rgba(240, 241, 250, 0)));
  background: linear-gradient(180deg, #F0F1FA 0%, rgba(240, 241, 250, 0) 100%);
  border-radius: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 28px 28px 0px 20px;
}

.media_slider_item_main_img {
  width: 136px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  border-radius: 69px;
}

.media_slider_item_main_img img {
  width: 104px;
}

.media_slider_item_main h4 {
  font-family: 'Gotham Pro';
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  margin-top: 18px;
}

.media_slider_item_main p {
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  margin-top: 15px;
}

.media_slider_item a {
  display: block;
  background: linear-gradient(47.39deg, #1738E3 12.73%, #7117E3 102.6%);
  -webkit-box-shadow: 0px 10px 40px #CFC4EE;
          box-shadow: 0px 10px 40px #CFC4EE;
  border-radius: 6px;
  width: calc(100% - 57px);
  height: 53px;
  line-height: 53px;
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 20px;
  margin-top: 18px;
}

@media (min-width: 1200px) {
  .media_slider {
    display: none !important;
  }
  .media_block h2 {
    font-size: 54px;
    line-height: 66px;
  }
  .media_block_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .media_block_list_item {
    width: calc(50% - 10px);
    margin-top: 53px;
  }
  .media_block_list_item_main {
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F1FA), to(rgba(240, 241, 250, 0)));
    background: linear-gradient(180deg, #F0F1FA 0%, rgba(240, 241, 250, 0) 100%);
    border-radius: 17px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 47px 39px 0px 44px;
  }
  .media_block_list_item_main_img {
    width: 210px;
    height: 86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #FFFFFF;
    border-radius: 69px;
  }
  .media_block_list_item_main_img img {
    width: auto;
  }
  .media_block_list_item_main h4 {
    font-family: 'Gotham Pro';
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
    margin-top: 46px;
  }
  .media_block_list_item_main p {
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #000000;
    margin-top: 26px;
  }
  .media_block_list_item a {
    display: block;
    background: linear-gradient(47.39deg, #1738E3 12.73%, #7117E3 102.6%);
    -webkit-box-shadow: 0px 10px 40px #CFC4EE;
            box-shadow: 0px 10px 40px #CFC4EE;
    border-radius: 6px;
    width: 206px;
    height: 53px;
    line-height: 53px;
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 47px;
    margin-top: 30px;
  }
}

@media (min-width: 1680px) {
  .media_img {
    display: block;
    position: absolute;
    left: -250px;
    width: 500px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (min-width: 1920px) {
  .media_img {
    left: -350px;
    width: 700px;
  }
}

.faq {
  background: #F0F1FA;
  margin-top: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 40px;
}

.faq h2 {
  font-family: 'Gotham Pro';
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

.faq_block {
  margin-top: 10px;
}

.faq_block_img {
  position: absolute;
  left: 50%;
  width: 100%;
}

.faq_block_img img {
  width: 100%;
}
